<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2>Registrate</h2>
  <input name='Uusuario' placeholder='Usuario' type='text'>
  <input id='pw' name='contraseña' placeholder='Contraseña' type='password'>
  <input name='Nombres' placeholder='Nombres' type='text'>
  <input name='Apellidos' placeholder='Apellidos' type='text'>
  <input name='Codigo' placeholder='Codigo' type='text'>
  <div class='agree'>
    <input id='agree' name='agree' type='checkbox'>
    <label for='agree'></label>Aceptar los terminos y condiciones
  </div>
  <input class='animated' type='submit' routerLink=""  value='Registrate'>
  <a class='forgot' href='#'>
    Ya tienes una cuenta?</a>
</div>