/* You can add global styles to this file, and also import other style files */

//body {
//    margin: 0px;
//    padding: 0px;
//}

.product-grid {
    display: grid;
    //grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    margin: 20px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
