<div class="body" style="background-image: url(assets/images/banner_nuevo.jpg);">

</div>
		<div class="grad"></div>
		<div class="header">
                <div> <strong>
                    Students
                    <span> <strong>UNMSM</strong> </span>
                </strong> 
                </div>
		</div>
		<br>
		<div class="login">
            <form action="">
				<input type="text" placeholder="Usuario" name="user"><br>
				<input type="password" placeholder="Contraseña" name="password"><br>
				<input type="button" routerLink="" value="Iniciar Sesión">
            </form>
		</div>