nav > a {
    padding: 5px 15px;
    text-decoration: none;
    letter-spacing: 1px;
    margin: auto 20px;
}

nav > a.active{
    color: aqua;
}

.header-row{
    padding: 0 40px;
    width: 100%;
}
