@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

footer {
  padding: 50px 20px;
  background-color: mat-color($primary);
  color: white;
  .row{
    align-content: center !important;
  } 
  .box {
    padding: 0 20%;
    h3 {
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 500;
    }
    button{
      margin-left: 5px;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
      font-size: 14px;
        margin: 10px 0px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}